/* body {
    background-image: url("../img/bg_sp.png");
} */

.c-section {
    position: relative;
    height: 85vh;
    width: 100%;
    background-color: #F9ECE5;
    /* top: 1.7rem; */
    /* background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%); */

}

.c-box {
    background: #F9ECE5;
    /* border: 1px solid #C14E49; */
    border-radius: 4px;
    box-sizing: border-box;
    height: 646px;
    max-width: 432px;
    padding: 0 1rem;
    width: 100%;

    /* box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.05); */

    /* Vertical and horizontal center alignment */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c-grid__answer {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    height: 246px;
}

.p-chat__bubble {
    background: white;
    border-radius: 4px;
    color: #545454;
    font-size: 14px;
    font-weight: 500;
    padding: .8rem;
    margin-right: 1rem;
    max-width: 80%;
    width: auto;
}

.p-chat__typigng-balls-bubble {
    background: white;
    border-radius: 4px;
    color: #545454;
    font-size: 14px;
    font-weight: 500;
    padding: .8rem;
    margin-right: 1rem;
    max-width: 80%;
    width: auto;

    /* border-radius: 30px 30px 0px 30px / 30px 30px 0px 30px;
    color: white;
    background: #C14E49; */

    /* height: 1rem; */
}

.p-chat__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 0 !important;
}

.p-chat__row .p-chat__bubble {
    border-radius: 30px 30px 30px 0px / 30px 30px 30px 0px;
}

.p-chat__row .p-chat__typing-balls-bubble {
    border-radius: 30px 30px 30px 0px / 30px 30px 30px 0px;
}

.p-chat__reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-right: 0 !important;
}

.p-chat__reverse .p-chat__bubble {
    /* border-radius: 25px 20px 30px 0px / 30px 25px 50px 0px; */

    border-radius: 30px 30px 0px 30px / 30px 30px 0px 30px;
    color: white;
    background: #C14E49;
}

.p-question__title {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
}

.p-question__description {
    font-size: 1rem;
    letter-spacing: .125rem;
    line-height: 1.7;
}


/* typing balls animation  */
.typing-balls-box {
    margin: 0.1rem;
}

.typing-balls-box span {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #c14e49;
    display: inline-block;
    margin: 0 0 0.8rem 0;
    border-radius: 50%;
}

.typing-balls-box span:nth-child(1) {
    animation: bounce 1.2s infinite;
}

.typing-balls-box span:nth-child(2) {
    animation: bounce 1.2s infinite 0.2s;
}

.typing-balls-box span:nth-child(3) {
    animation: bounce 1.2s infinite 0.4s;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(1rem);
    }

    100% {
        transform: translateY(0px);
    }
}

/* ローディングアニメーション */
.loading {
    top: 75%;
    z-index: 10000;
    background: url(../img/loading.png) no-repeat;
    width: 200px;
    height: 146px;
    animation: ebisuke 2s steps(6) infinite;
}

@keyframes ebisuke {
    to {
        background-position: 0 -876px;
    }
}